:root {
  --background: linear-gradient(150deg, white, white, lightgray);
  --std-shadow: lightgrey 0 0 2px 2px;
}

.App {
  text-align: center;
  padding: 0 5%;
  display: grid;
  column-count: 1;
  grid-template-rows: 40px 1fr 40px;
  height: 100vh;
}

header, footer, .content {
  background: var(--background);
}

header h2 {
  margin: 0;
  flex-grow: 1;
}

input:focus {
  box-shadow: rgba(150, 150, 150, 0.5) 0 0 4px 4px;
}


td {
  min-width: 100px;
}

thead, tr:nth-of-type(2n) {
  background-color: rgba(110, 110, 125, 0.35);
  padding: 0;
  margin: 0;
}

table {
  border: 1px solid rgba(110, 110, 125, 0.35);
}

button.link {
  font-size: 15px;
  margin: 10px;
  padding: 5px;
  cursor: pointer;
  border-radius: 9px;
  border: none;
  box-shadow: var(--std-shadow);
}

button.link:focus {
  outline: none;
}

header {
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  box-shadow: darkgray 0 0 3px 3px;
  display: flex;
  flex-direction: row;
}

header a:last-child {
  border-bottom-right-radius: 7px;
}

header a {
  text-decoration: none;
  color: black;
}

header a:hover {
  cursor: pointer;
}

.link:hover {
  background-color: darkgray;
}

.link {
  display: block;
  font-weight: bold;
  margin-left: 10px;
  overflow: hidden;
  padding: 5px;
  font-size: 18px;
  transition: background-color 0.4s;
}

footer {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  box-shadow: darkgray 0 0 3px 3px;
}

.arrow {
  font-weight: bold;
  font-size: 1.25em;
  transition: color 0.4s;
  color: rgba(110,110,110, 0.7);
}

.arrow:hover {
  color: rgba(60,60,60, 0.7);
  cursor: pointer;
}

.arrow:focus {
  color: rgba(60,60,60, 0.7);
  cursor: pointer;
}

.content {
  box-shadow: darkgray 0 0 3px 3px;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  margin: 15px 0;
  padding: 20px;
}

@media (max-width: 1020px) {
  .link {
    font-size: 16px;
  }

  header h2 {
    font-size: 18px;
  }

  td {
    min-width: 75px;
  }

  td input {
    width: 75px;
  }
}
