:root {
  --background: linear-gradient(150deg, white, white, lightgray);
}

.App {
  text-align: center;
  padding: 0 5%;
  display: grid;
  column-count: 1;
  grid-template-rows: 40px 1fr 40px;
  height: 100vh;
}

header, footer, .content {
  /*border: 1px solid darkgrey;*/
  background: var(--background);
}

header h2 {
  margin: 0;
  flex-grow: 1;
}

header {
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  box-shadow: lightgray 1px 1px 1px 1px;
  display: flex;
  flex-direction: row;
}
header a:last-child {
  border-bottom-right-radius: 7px;
}

header a {
  text-decoration: none;
  color: black;
}

header a:hover {
  cursor: pointer;
}

.link:hover {
  background-color: darkgray;
}

.link {
  display: block;
  font-weight: bold;
  margin-left: 10px;
  overflow: hidden;
  padding: 5px;
  font-size: 18px;
  transition: background-color 0.4s;
}

footer {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  box-shadow: lightgray -1px -1px 1px 1px;
}

.content {
  box-shadow: lightgray 1px 1px 1px 1px;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  margin: 15px 0;
}
